.image-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    grid-auto-rows: 350px;
    gap: 70px;
}

@media(max-width: 900px){

    html{
        overflow-x: hidden;
    }

    .main h1{
        justify-content: center;
        text-align: center;
        margin: 0;
    }
    
    .main h2{
        justify-content: center;
        margin: 0;
    }

    .image-container{
        grid-template-columns: repeat(auto-fit, minmax(95px, 130px));
        grid-auto-rows: 140px;
        justify-items: center;
        align-items: center;
    }

    #img-1 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(13deg);
    }
    
    #img-2 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-13deg);
    }
    
    #img-3 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-11deg);
    }
    
    #img-4 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(11deg);
    }
    
    #img-5 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(9deg);
    }
    
    #img-6 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-9deg);
    }
    
    #img-7 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-7deg);
    }
    
    #img-8 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(7deg);
    }
    
    #img-9 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(8deg);
    }
    
    #img-10 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-8deg);
    }
    
    #img-11 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-10deg);
    }
    
    #img-12 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(10deg);
    }
    
    #img-13 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(12deg);
    }
    
    #img-14 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-12deg);
    }
    
    #img-15 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-8deg);
    }
    
    #img-16 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(8deg);
    }
    
    #img-17 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(10deg);
    }
    
    #img-18 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-10deg);
    }
    
    #img-19 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-13deg);
    }
    
    #img-20 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(13deg);
    }
    
    #img-21 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(11deg);
    }
    
    #img-22 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-11deg);
    }
    
    #img-23 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-7deg);
    }
    
    #img-24 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(7deg);
    }
    
    #img-25 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(9deg);
    }
    
    #img-26 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-9deg);
    }
    
    #img-27 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-13deg);
    }
    
    #img-28 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(13deg);
    }
    
    #img-29 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(11deg);
    }
    
    #img-30 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-11deg);
    }
    
    #img-31 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-9deg);
    }
    
    #img-32 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(9deg);
    }
    
    #img-33 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(12deg);
    }
    
    #img-34 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-12deg);
    }
    
    #img-35 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-8deg);
    }
    
    #img-36 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(8deg);
    }
    
    #img-37 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(10deg);
    }
    
    #img-38 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-10deg);
    }
    
    #img-39 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-13deg);
    }
    
    #img-40 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(13deg);
    }
    
    #img-41 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(11deg);
    }
    
    #img-42 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-11deg);
    }
    
    #img-43 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-7deg);
    }
    
    #img-44 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(7deg);
    }
    
    #img-45 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(13deg);
    }

    #img-46 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-11deg);
    }
    
    #img-47 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-11deg);
    }

    #img-48 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(11deg);
    }

    #img-49 {
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(10deg);
    }

    #img-50{
        width: 150px;
        height: 150px;
        border-bottom: 40px solid white;
        border-left: 5px solid white;
        border-right: 5px solid white;
        border-top: 10px solid white;
        transform: rotate(-13deg);
    }
}